<div>
  <form [formGroup]="PostForm" (ngSubmit)="addFile()">

    <mat-form-field appearance="outline">
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Text (optional)" formControlName="description"></textarea>
    </mat-form-field>

    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="setUploadFile($event)" #fileInput type="file">

  </form>

  <button mat-raised-button (click)="post()">Post</button>
</div>