.container{
  text-align: center;
  align-content: center;
}
#cancelBtn{
  alignment: left !important;
  margin-left: 50px;
  border-color: #f44336;
  color: red
}
.btn{
border: 1px solid black;
background-color: white;
color: black;
font-size: 16px;
cursor: pointer;
}
#cancelBtn:hover{
  background: #f44336;
  color: white;
}
#saveBtn{
  border-color: #2196F3;
  color: dodgerblue
}
#saveBtn:hover {
  background: #2196F3;
  color: white;
}
