<div fxLayout="row">
  <!--<div fxLayoutAlign="center" fxFlex="13vw">
    <img src="assets/logo.png" alt="logo" width="100%" height="100%" routerLink="/">
  </div>-->
  <div fxFlex="50">
    <button mat-button class="navBarButton" routerLink="">Forum</button>
    <button mat-button class="navBarButton" routerLink="create">New post</button>
  </div>

  <div fxFlex="50" fxLayoutAlign="end center">
    <label class="mat-body-strong">User</label>

    <button *ngIf="false" mat-button class="login navBarButton" routerLink="login">Login</button>
    <button mat-button *ngIf="true" id="userMenu" [matMenuTriggerFor]="userProfile" class="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userProfile="matMenu">
      <button mat-menu-item routerLink="users/profile">My profile</button>
    </mat-menu>
  </div>
</div>