<div fxFlex="60vw" class="row" fxLayout="row" class="navbar" fxLayoutAlign="center" fxLayoutGap="50px">
  <!--<div fxLayoutAlign="center" fxFlex="13vw">
    <img src="assets/logo.png" alt="logo" width="100%" height="100%" routerLink="/">
  </div>-->
  <div fxLayoutGap="20px" fxFlex="60vw" fxLayoutAlign="end">
    <button mat-button class="navBarButton" routerLink="forumposts"></button>
  </div>

  <div fxLayoutAlign="end" fxFlex="25vw">
    <label class="mat-body-strong" fxLayoutAlign="center center">User</label>

    <button *ngIf="false" mat-button class="login navBarButton" routerLink="login">Login</button>
    <button mat-button *ngIf="true" id="userMenu" [matMenuTriggerFor]="userProfile" class="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userProfile="matMenu">
      <button mat-menu-item routerLink="users/profile">My profile</button>
    </mat-menu>
  </div>
</div>