img {
    object-fit:contain;
}

.main-container {
    background-color: #E0E0E0;
}

.card-container {
    padding-top: 25px;
}

mat-card-header {
    margin-left: -16px;
}

mat-card {
    max-height: 700px;
}

.mat-card-image {
    max-height: 500px;
}

.mat-card-content {
    margin-bottom: 0px;
}

.mat-card-actions {
    padding: 0px;
}