<div fxLayoutAlign="center" class="main-container">
  <div class="card-container" *ngIf="forumposts" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px" fxFlex="40">

    <mat-card *ngFor="let post of forumposts | async">

      <mat-card-header>
        <mat-card-subtitle>{{post.postDate | date:'d MMMM, yyyy hh:mm'}}</mat-card-subtitle>
        <mat-card-title>{{post.title}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p *ngIf="post.description">
          {{post.description}}
        </p>
        <img mat-card-image [src]="post.pictureUrl" *ngIf="post.pictureUrl">
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-button>Commnets</button>
        <button mat-button>Share</button>
      </mat-card-actions>

    </mat-card>
  </div>
</div>