<div fxLayoutAlign="center" class="main-container">
  <div class="card-container" *ngIf="forumposts" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px"
    fxFlex="40">
    <mat-card *ngFor="let post of forumposts | async">

      <mat-card-header>
        <mat-card-subtitle>
          <p class="mat-caption">{{post.postDate | date:'d MMMM, yyyy hh:mm'}}</p>
        </mat-card-subtitle>
        <mat-card-title fxLayout="row">{{post.title}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p *ngIf="post.description">
          {{post.description}}
        </p>
        <div fxLayoutAlign="center center">
          <img [src]="post.pictureUrl" *ngIf="post.pictureUrl">
        </div>
      </mat-card-content>

      <mat-card-actions fxLayoutGap="0px">
        <button mat-icon-button>
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-button>Comments</button>
        <button mat-button>Share</button>
        <button  id="moreMenuBtn" mat-icon-button [matMenuTriggerFor]="moreMenu">
          <mat-icon>more_vert</mat-icon>
          <mat-menu #moreMenu="matMenu">
            <button mat-menu-item id="editPost" (click)="openDialog(post)">Edit</button>
            <button mat-menu-item id="deletePost" (click)="deleteForumPost(post)">Delete</button>
          </mat-menu>
        </button>
      </mat-card-actions>

    </mat-card>
  </div>
</div>
